@import "node_modules/bootstrap/scss/bootstrap";
.navbar-dark {
  background-color: #333;
}
.navbar-dark .navbar-brand {
  color: #9d9d9d;
}

.navbar-dark .navbar-brand .nav-link:hover {
  color: #fff;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
.btn:disabled {
  cursor: not-allowed;
}
