@CHARSET "UTF-8";
@import "custom";

$sp: 360px;

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}


div.content-header {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
ul.console {
  list-style: none;
  border: 1px solid #333;
  overflow-y: auto;
  width: 100%;
  background-color: #fff;
  height: 200px;
}
div.videoHolder {
  width: 360px;
}
video.kurentoStream {
  width: 360px;
  height: 270px;

  @include sp {
    margin-left: -15px;
  }
}
