<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Kurent LoopBack Demo</title>
    </head>
    <body>
        <h1>Kurent LoopBack Demo</h1>
        <div>
            <button type="button" id="start">Start Video</button>
            <button type="button" id="stop">Stop Video</button>
        </div>
        <div>
            <video id="localVideo" width="400" height="300" autoplay></video>
            <video id="remoteVideo" width="400" height="300" autoplay></video>
        </div>
        <script src="static/js/client.js"></script>
    </body>
</html>
