@CHARSET "UTF-8";

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 40px;
}

#console {
    list-style: none;
    -webkit-padding-start: 0;
    -webkit-margin-after: 0;
    -webkit-margin-before: 1em;
    border: 1px solid #000;
    overflow-y: auto;
    width: 100%;
    background-color: #fff;
    height: 200px;
}

.col-md-2 {
    width: 80px;
    padding-top: 190px;
}
